.container {
  max-width: 960px;
  margin: 0 auto;
}
.livros {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}
.livro {
  max-width: 210px;
  width: 100%;
  display: flex;
  align-items: center;
  border: 2px solid rgb(165, 165, 246);
  flex-direction: column;
  border-radius: 20px;
}
.livro img {
  width: 100%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border: 1px solid rgb(165, 165, 246);
  display: block;
}
.informacoes-book {
  background-color: white;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  width: 100%;
  padding: 5px;
}
.informacoes .info-item {
  font-weight: bold;
  letter-spacing: 2px;
  text-align: center;
  display: block;
}

.acoes {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 5px;
}
.acoes button {
  padding: 5px;
  border-radius: 10px;
  border: none;
  outline: none;
  cursor: pointer;
  background-color: rgb(165, 165, 246);
  letter-spacing: 2px;
  font-weight: bold;
}

.link {
  text-decoration: none;
  text-transform: none;
  color: black;
}

body {
  height: 100vh;
  background-color: rgb(220, 235, 230);
  position: relative;
}
.container-book {
  margin: 0 auto;
  display: flex;
  max-width: 960px;
  height: 100%;
  gap: 50px;
  padding: 10px;
  border-radius: 20px;
  background-color: white;

  align-items: center;
  justify-content: center;
}
#details-book-capa {
  flex: 0 1 400px;
  width: 100%;
  /* height: 500px; */
}
#details-book-capa img {
  width: 100%;
  border-radius: 20px;
  height: 100%;
  object-fit: cover;
}
.book-information {
  display: flex;
  flex-direction: column;
  gap: 20px;
  flex: 1 1 200px;
  line-height: 2rem;
  letter-spacing: 0.9px;
  -webkit-font-smoothing: antialiased;
}
.title {
  font-size: 4rem;
  color: rgb(25, 115, 143);
  font-weight: bold;
}
.price {
  font-size: 2rem;
}
.btn {
  padding: 5px;
  border-radius: 5px;
  font-size: 1.8rem;
  font-weight: bold;
  color: white;
  background-color: rgb(24, 62, 230);
  max-width: 200px;
  border: none;
  outline: none;
  cursor: pointer;
  align-self: center;
  width: 100%;
}
.container-header {
  padding: 10px;
  background-color: rgb(24, 62, 230);
  font-size: 18px;
  margin-bottom: 20px;
}
.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.container-header .navigation-menu {
  display: flex;
  /* justify-content: right; */
}
.menu-item {
  padding: 10px;
}
.link {
  color: white;
}
@media screen and (max-width: 860px) {
  .container-book {
    flex-direction: column;
    text-align: center;
  }
  #details-book-capa {
    max-width: 400px;
  }
}
.acoes-do-livro {
  display: flex;
  justify-content: space-between;
  width: 80%;
  align-items: center;
  margin: 0 auto;
  gap: 20px;
}
.shopQuantity {
  width: 50px;
  height: 50px;
  border: 2px solid white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  border-radius: 10px;
  box-shadow: 2px 2px 10px white;
  background-color: white;
  font-size: 18px;
}

#modalContainer {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 40%);
  position: absolute;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  display: none;
}
#modalContainer.ativo {
  display: flex;
}
.modal {
  max-width: 300px;
  height: 300px;
  width: 100%;
  border-radius: 20px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  box-shadow: 4px 4px 40px black;
}
.modal p {
  font-size: 22px;
  font-weight: 600;
  letter-spacing: 1px;
  line-height: 2.5rem;
}

.modal button {
  /* width: 50%; */
  padding: 10px;
  border-radius: 20px;
  border: none;
  outline: none;
  background-color: rgb(24, 62, 230);
  color: white;
  font-weight: bold;
  letter-spacing: 1px;
  cursor: pointer;
}
